PORT=3000
FRONT_ORIGIN=http://127.0.0.1:5180
MONGO_URL=
MONGO_URL_ATLAS=
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
TENCENT_REGION=ap-beijing
ALI_IMAGE_API_KEY=
ALI_IMAGE_MODEL=
ALI_IMAGE_STYLE=
ALI_IMAGE_API_URL=
IMAGE_SAVE_PATH=./uploads/images
RECORD_SAVE_PATH=./uploads/records
